functionsDirectory = "/home/ubuntu/repos/core314-platform/core314-admin/netlify/functions"
functionsDirectoryOrigin = "config-v1"
headersOrigin = "config"
redirectsOrigin = "config"
plugins = []

[build]
publish = "/home/ubuntu/repos/core314-platform/core314-admin/dist"
publishOrigin = "config"
commandOrigin = "config"
base = "/home/ubuntu/repos/core314-platform/core314-admin"
command = "npm run build"
functions = "/home/ubuntu/repos/core314-platform/core314-admin/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[headers]]
for = "/*"

[headers.values]
X-Frame-Options = "DENY"
X-Content-Type-Options = "nosniff"
X-XSS-Protection = "1; mode=block"
Referrer-Policy = "strict-origin-when-cross-origin"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]